body{
    background: linear-gradient(rgb(80, 205, 255),rgb(4, 0, 233));
    height: 100vh;
}

.clock{
    background-image: url(IMG/clock.png);
    background-size: cover;
    border: 10px solid white;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    z-index: 10000;
}

.clock .hour, 
.clock .min, 
.clock .sec{
    position: absolute;
}

.clock .hour, .hr{
    width: 200px;
    height: 200px;
}

.clock .min, .mn{
    width: 250px;
    height: 250px;
}

.clock .sec, .sc{
    width: 300px;
    height: 300px;
}

.hr, .mn, .sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    border-radius: 6px 6px 0px 0px;
}

.mn::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 120px;
    z-index: 11;
    border-radius: 6px 6px 0px 0px;
    background-color: black;
}

.sc::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 180px;
    z-index: 12;
    border-radius: 6px 6px 0px 0px;
    background-color: rgb(247, 46, 72);
}